<iframe
        sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
        style="border: 0; height: 42px;"
        src="http://bandcamp.com/EmbeddedPlayer/album={{album}}/size=small/bgcol=333333/linkcol=4ec5ec/track={{track}}/transparent=true/" seamless
>
    {{! not sure why this was here before moving to mustache templating... }}
    <!-- <a href="http://subjection.bandcamp.com/album/shade-ep">Shade - EP by Subjection</a> -->
</iframe>
