{{#contents}}
    <div class="content">
        {{#rows}}
            {{#title}}
                <h2>{{.}}</h2>
            {{/title}}
            {{#subtitle}}
                <h4>{{.}}</h4>
            {{/subtitle}}
            {{#subheader}}
                <h4>{{.}}</h4>
            {{/subheader}}
            {{#subsubtitle}}
                <h6>{{.}}</h6>
            {{/subsubtitle}}
            {{#type_photo_scrollbox}}
                {{!
                TODO: Move this into photo_scrollbox.mustache?
                TODO: Allow for height changes?
                }}
                <div
                        class="scrollbox {{#thumbnail}}thumbnails thumbsmall{{/thumbnail}}"
                        style="{{#thumbnail}}height: 250px;{{/thumbnail}} ">
                {{> photo_scrollbox}}
                </div>
            {{/type_photo_scrollbox}}
            {{#type_image}}
                {{> image}}
            {{/type_image}}
            {{#type_vimeo}}
                {{> vimeo_embed}}
            {{/type_vimeo}}
            {{#type_youtube}}
                {{> youtube_embed}}
            {{/type_youtube}}
            {{#type_soundcloud}}
                {{> soundcloud_embed}}
            {{/type_soundcloud}}
            {{#type_bandcamp}}
                {{> bandcamp_embed}}
            {{/type_bandcamp}}
            {{#type_button}}
                {{> standard_button}}
            {{/type_button}}
            {{#type_columns}}
                {{> columns}}
            {{/type_columns}}
            {{#credits}}
                <h5>Credits: {{.}}</h5>
            {{/credits}}
            {{#html}}{{{.}}}{{/html}}
        {{/rows}}
    </div>
{{/contents}}