{{#contents}}
    <div class="content{{#is_multi_photo_group_item}} multi-photo-group-item{{/is_multi_photo_group_item}}{{#is_last_in_multi_photo_group}} multi-photo-group-last{{/is_last_in_multi_photo_group}}"{{#no_buy_print}} data-no-buy-print="1"{{/no_buy_print}}>
        {{#rows}}
            {{#title}}
                <h2 class="content-text-element">{{.}}</h2>
            {{/title}}
            {{#subtitle}}
                <h4 class="content-text-element">{{.}}</h4>
            {{/subtitle}}
            {{#subheader}}
                <h4 class="content-text-element">{{.}}</h4>
            {{/subheader}}
            {{#subsubtitle}}
                <h6 class="content-text-element">{{.}}</h6>
            {{/subsubtitle}}
            {{#type_photo_scrollbox}}
                {{!
                TODO: Move this into photo_scrollbox.mustache?
                TODO: Allow for height changes?
                }}
                <div
                        class="scrollbox {{#thumbnail}}thumbnails thumbsmall{{/thumbnail}}"
                        style="{{#thumbnail}}height: 250px;{{/thumbnail}} ">
                {{> photo_scrollbox}}
                </div>
            {{/type_photo_scrollbox}}
            {{#type_image}}
                {{> image}}
            {{/type_image}}
            {{#type_vimeo}}
                {{> vimeo_embed}}
            {{/type_vimeo}}
            {{#type_youtube}}
                {{> youtube_embed}}
            {{/type_youtube}}
            {{#type_soundcloud}}
                {{> soundcloud_embed}}
            {{/type_soundcloud}}
            {{#type_bandcamp}}
                {{> bandcamp_embed}}
            {{/type_bandcamp}}
            {{#type_button}}
                {{> standard_button}}
            {{/type_button}}
            {{#type_columns}}
                {{> columns}}
            {{/type_columns}}
            {{#type_table}}
                {{> table}}
            {{/type_table}}
            {{#credits}}
                <h5 class="content-text-element">Credits: {{.}}</h5>
            {{/credits}}
            {{#html}}
                <div class="content-text-element content-html-element">{{{.}}}</div>
            {{/html}}
        {{/rows}}
    </div>
{{/contents}}