{{!
TODO: Add prefix before img?
TODO: Add thumb or lq depending on if it's a scrollbox or not?
}}
<a href="img/{{img}}.{{ext}}" target="_blank">
    <img src="img/{{img}}_thumb.{{ext}}" alt="pic" border="0">
</a>