{{! TODO: Add column functionality if needed}}
<table>
    {{#table_header}}
        <tr>
            <th>{{.}}</th>
        </tr>
    {{/table_header}}
    {{#table_row}}
        <tr>
            <td>{{.}}</td>
        </tr>
    {{/table_row}}
</table>
