{{! TODO: Add more column functionality if needed, but might make sense to have a different partial for that}}
<div class="about_table_wrapper">
    <table class="about_table">
        {{#table_header}}
            <caption>{{.}}</caption>
        {{/table_header}}
        {{#table_row}}
            <tr>
                <td><a {{#link}}href="{{.}}" target="_blank"{{/link}}><b>{{main}}</b>{{#year}} [{{.}}]{{/year}}</a></td>
                {{#sub}}<td><a {{#link}}href="{{.}}" target="_blank"{{/link}}>{{text}}</a></td>{{/sub}}
            </tr>
        {{/table_row}}
    </table>
</div>

