<div
        id="vimeo_{{vimeo_count}}"
        vimeo-data-id="{{vimeo}}"
        class="vimeo_embed {{^thumbnail}}iframe-container{{/thumbnail}}"
        {{#aspect_ratio}}style="padding-top: {{.}};"{{/aspect_ratio}}
        {{#loopstart}}loopstart="{{.}}"{{/loopstart}}
        {{#loopend}}loopend="{{.}}"{{/loopend}}
></div>

