<iframe
        id="vimeo_{{vimeo_count}}"
        src="https://player.vimeo.com/video/{{vimeo}}?background=1"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen
        {{#loopstart}}loopstart="{{.}}"{{/loopstart}}
        {{#loopend}}loopend="{{.}}"{{/loopend}}
></iframe>

