<div class="iframe-container video-clickable" {{#aspect_ratio}}style="padding-top: {{.}}"{{/aspect_ratio}}>
    <iframe
        src="https://www.youtube.com/embed/{{youtube}}?controls=0"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
    <div class="video-overlay" onclick="openVideoLightBox('https://www.youtube.com/embed/{{youtube}}?controls=0', 'youtube', '', event, '{{aspect_ratio}}');"></div>
</div>
