<div class="iframe-container video-clickable" style="padding-top: {{#aspect_ratio}}{{.}}%{{/aspect_ratio}}{{^aspect_ratio}}56.25%{{/aspect_ratio}};" data-aspect-ratio="{{#aspect_ratio}}{{.}}{{/aspect_ratio}}{{^aspect_ratio}}56.25{{/aspect_ratio}}">
    <iframe 
        src="https://www.youtube.com/embed/{{youtube}}?controls=0"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
    <div class="video-overlay" onclick="openVideoLightBox('https://www.youtube.com/embed/{{youtube}}', 'youtube', '', event);"></div>
</div>
