<div class="iframe-container" {{#aspect_ratio}}style="padding-top: {{.}}"{{/aspect_ratio}}>
    <iframe 
        src="https://www.youtube.com/embed/{{youtube}}?controls=0"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>
